@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    color: rgba(23,23,23,1);
    
}

html, body{
    min-height: 100%;
    overflow-x: hidden; 
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
    background: radial-gradient(at top left, rgba(225,226,227,1) 0%, rgba(116,117,117,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    
}
/*layout and navbar */

.layout {
    max-width: 400px;
    margin: 0 auto;
}

.layout footer{
    text-align: center;
}
.layout h2{

    font-size: 3em;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    

}
nav {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px auto;
}

nav .links{
    display: grid;
    grid-template-columns: 1fr;
    
    font-size: 2em;
    font-weight: 400;
    margin-right: 20px;
    margin-top: 20px;
}

nav h1{

    text-align: center;
    font-size: 4em;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 20px;
    
}

nav a {
    display: inline-block;
    text-align: center;
    margin-left: 40px;
    font-weight: 400;
    padding-bottom: 18px;
    border-bottom: 3px solid transparent;
    width: 170px;
    margin-left: 120px;
}

nav a:hover{
    border-color: black;
}

nav type {

    text-align: left;
    vertical-align: bottom;
}

nav date {

    text-align: right;
    
}



@media only screen and (min-width: 600px) and (min-height: 500px){

    .layout {
        max-width: 1400px;
        margin: 0 auto;
    }

    .layout h2{

        text-align: left;   
    
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 40px auto;
    }

    nav a {
        width: auto;
        margin-left: 50px;
    }

    nav h1{

        text-align: left;
        margin-left: 0px;
        font-size: 2em;
    }

    nav .links{
        display: inline-block;
        margin-left: -100px;
        text-align: right;
        margin-top: 0px;
    }


}

/*Intro and Skills Styles*/

intro{

    display: inline-block;
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px auto;

}


intro h3 {

    font-size: 3em;
    font-weight: 600;
    margin-bottom: 20px;
    
    margin-top: 0px;

}

intro p{

 
    font-size: 2em;
    font-weight: 300;
 

}



intro greeting {

    text-align: center;
    width: 380px;
    
}

intro gif {

    text-align: left;
    background-size: contain;

}
img.animated-gif{
    width: 350px;
    height: auto;
}

@media only screen and (min-width: 600px) and (min-height: 500px){

    
    intro{

        display: inline-block;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 40px auto;
    
    }

    intro greeting {

        text-align: left;
        width: 800px;
    }

    intro gif {

        text-align: right;
        
    
    }

    intro h3 {

        font-size: 3em;
        font-weight: 600;
        margin-bottom: 20px;
        
        margin-top: 200px;
    
    }

    img.animated-gif{
        width: 512px;
        height: auto;
    }

}

skills{

    display: inline-block;
    display: grid;
    grid-template-columns: 1fr;
    
    margin: 50px auto;

}


skills languages {

    
    display: grid;
    grid-template-columns: 1fr;
    background-color:  rgba(46,46,46,0.1);
    border-color: rgba(46,46,46,0.001);
    border-style: solid;
    border-width: 25px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
   
}


skills toolkits {

  
    grid-template-columns: 1fr;
    display: grid;
    background-color:  rgba(46,46,46,0.1);
    border-color: rgba(46,46,46,0.001);
    border-style: solid;
    border-radius: 10px;
    border-width: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;

}


skills h3 {

    
    width: 400px;
    height: 100px;
    font-size: 2em;
    text-align: left;
    margin: 20px auto 0px;
    font-weight: 600;
    margin-bottom: -15px;
    margin-left: 10px;
}

skills p {

    text-align: left;
    font-size: 25px;
    text-indent: 0px;
    margin-bottom: 5px;
    margin-left: 120px;
}

@media only screen and (min-width: 600px) and (min-height: 500px){

    skills{

        
        grid-template-columns: 1fr 1fr;
        
    }


    skills languages {
 
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        border-style: solid;
        border-width: 25px;
        border-radius: 10px;

        margin-right: 15px;

        width: 630px;
        height: 400px;
    }

    skills toolkits {

  
        grid-template-columns: 1fr 1fr;
        display: grid;
    
        border-style: solid;
        border-radius: 10px;
        border-width: 25px;
        
        width: 630px;
        height: 400px;
    }

    skills p {

        text-align: left;
        margin-left: 50px;
    }
}
